
<div class="mainLayout">
    <mat-card class="card">


        <div class="regImage">
            <img src="../../../assets/images/registrationPage.jpg" width="350px" height="450px">
          </div>


       <div class="regisForm">
      <mat-card-header>
        <mat-card-title class="pageTitle">Register</mat-card-title>
      </mat-card-header>
  

      <mat-form-field appearance="outline" class="field">
        <mat-label> First Name</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
  

      <mat-form-field appearance="outline" class="field">
          <mat-label> Last Name</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>


        <mat-form-field appearance="outline" class="fieldEm">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
  

      <mat-form-field appearance="outline" class="fieldPa">
        <mat-label> Password</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline" class="fieldPa">
          <mat-label> Confirm Password</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field><br><br>


      <button mat-raised-button color="primary" class="button" >Register</button><br> <br>
      <button mat-raised-button color="primary" class="button">Sign in</button><br> <br>
    </div>   
   
  

    
  </mat-card>
 </div>