<button mat-icon-button title="Remind me">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button title="Collaborator">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button title="Change color">
    <mat-icon>color_lens</mat-icon>
  </button>
  <button mat-icon-button title="Add image">
    <mat-icon>panorama</mat-icon>
  </button>
  <button mat-icon-button title="Archive">
    <mat-icon>archive</mat-icon>
  </button>
  <button mat-icon-button title="More">
    <mat-icon>more_vert</mat-icon>
  </button>