
.container
{
    display: flex;
    width: 100%;
    margin-top: 2%;
    
.titlecard1
{
   width: 50%;
   margin-left: 20%;
   .area1
   {
       width: 90%;
       border: none;
       outline: none;
   }
}

.titlecard2
{
    width:  50%;
   margin-left: 20%;     
   .area2
   {
       width: 90%;
       border: none;
       outline: none;
   }
}
}




















