<div class="mainLayout">
  <mat-card class="card">

    <mat-card-header>
      <mat-card-title class="pageTitle">Sign in</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="outline" class="field">
      <mat-label> Email</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label> Password</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field><br>
      
    <button mat-raised-button color="primary" class="button">Log in</button><br> <br><br>
    <a href=""> Already an existing user?</a>

  </mat-card>
 
</div> 