.mainLayout {
  position: relative;
    height: 100%;
    width: 100%; 
    background-image: url('../../images/loginImageBackgroung.png');
}

.card {
  position: absolute;
    width: 30%; 
    height: 50%;
    top : 15%;
    left: 32%;
  }

.pageTitle
  {
     color: navy;
     font-size: large;
  }

.field
  {
    position: relative;
     width: 100%;
     font-size: large;
     align-self: center;
  }

  .button
  {
    position: relative;
    width: 100%;
  }