<div class="mainLayout">
  <mat-card class="card" fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center" >
    <div class="loginImage" fxFlex="50" fxHide.xs="true" fxHide.md="true" fxShow="true">
      <img src="../../../assets/images/logInPage.png" class="image">
    </div>

    <div class="loginForm" fxFlex="50"  fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>
        <mat-card-title class="pageTitle">Sign in</mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline" class="field">
        <mat-label> Email</mat-label>
        <input matInput placeholder="Placeholder" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label> Password</mat-label>
        <input matInput placeholder="Placeholder" type="password" required>
      </mat-form-field>
     
      <div fxLayout="column" fxLayoutAlign="space-around center" >
      <button mat-raised-button color="primary" class="buttonLo">Log in</button><br>
      <button mat-raised-button color="primary" class="buttonCreate" routerLink="../registration">Create an account </button><br>
      <a routerLink="../forgot"> Forgot Password? </a>
      </div>
     
    </div>




    </mat-card>
    </div>