<div class="mainLayout">
  <mat-card class="card" fxLayout.xs="column" fxLayout.sm="column" fxLayout="row">
    <div class="resetImage" fxFlex="45" fxHide.xs="true" fxHide.md="true" fxShow="true">
      <img src="../../../assets/images/resetPasswordPage.png" class="image">
    </div>

    <div class="resetForm" fxFlex="55" fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card-header>
        <mat-card-title class="pageTitle"> Reset </mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline" class="field">
        <mat-label> Password</mat-label>
        <input matInput placeholder="Placeholder" type="password" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label> Confirm Password</mat-label>
        <input matInput placeholder="Placeholder" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" class="buttonSend">Submit</button>
       
    </div>
  </mat-card>
</div>